<div class="form">
    <form #registerForm="ngForm" (ngSubmit)="submitForm(registerForm)">
        <h1>Register here</h1>
        <div class="input">
            <label for="username" >Username</label>
            <input type="text" id="regisusername" [(ngModel)]="registerDetails.username" name="username">
        </div>
        <div class="input">
            <label for="password" >Password</label>
            <input type="password" id="regispassword" [(ngModel)]="registerDetails.password" name="password">
        </div>
        <button type="submit">Register</button>
        <a routerLink="/login">Login In here</a>
        
    </form>
</div>